{% extends "layout.html" %}

{% block title %}books{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .alltext {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<div>
    <form style="background-color:rgb(255, 255, 255)" action="/add_book/" method="post">
        <label for="book_name">Name: </label>
        <input type="text" name="BookName" placeholder="Book Name">
        <hr>
        <label for="book_author">Author: </label>
        <input type="text" name="BookAuthor" placeholder="Author Name">
        <hr>
        <label for="publish_date">Published: </label>
        <input type="number" name="PublishedDate" placeholder="Year of publish">
        <hr>
        Book Type:
        <select name="BookType" id="BookType"> 
            <option value="1">1 - Up to 10 days</option>
            <option value="2">2 - Up to 5 days</option>
            <option value="3">3 - Up to 2 days</option>
        </select>
        <hr>
        
            <button class="btn btn-outline-dark" type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}